<!DOCTYPE html>
<html style="height: 929px;">

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FEEDY - Contact</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand navigation-clean" style="background-color: #55692D;">
        <div class="container"><a class="navbar-brand text-white" href="/index" style="font-size: 27px;transform: scale(1.34);" target="_parent"><strong>Feedy</strong></a><a class="navbar-brand text-white" href="#" style="font-size: 27px;"></a><i class="typcn typcn-leaf border-success m-auto text-primary" style="color: #E9A34D!important;transform: scale(3.04);height: 27px;"></i><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1"><a class="btn btn-primary ml-auto" role="button" href="/contact" style="background-color: #E9A34D;transform: scale(1.34);">Contactez nous !</a></div>
        </div>
    </nav>
    <section class="text-center bg-light features-icons" style="justify-content: center;height: 757px;">
        <section class="contact-clean" style="background: url('assets/img/pablo.png')no-repeat center center;background-size: cover;">
            <form class="shadow-none" method="POST" name="recv" action="" id="form">
                <h2 class="text-center">Contactez-nous !</h2>
                <div class="form-group"><input id="name" class="form-control" type="text" name="name" placeholder="Nom" required="" minlength="5" maxlength="10"></div>
                <div class="form-group"><input id="mail" class="form-control" type="email" name="mail" required="" placeholder="Email" style="margin-bottom: 18px;"></div>
                <div class="form-group"><textarea id="message" class="form-control" name="message" placeholder="Message" rows="14" required="" minlength="50" maxlength="2000"></textarea></div>
                <div class="form-group"><button class="btn btn-primary" type="submit" style="background-color: #E9A34D!important;">Envoyer</button></div>
            
                        <!-- Alert -->
                        {{ if  eq .ok 1 }}
                        {{ if eq .send 1 }}
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Votre email a bien été envoyé !</h4>
                            <p>Nous vous répondrons au plus vite !</p>
                            <hr>
                            <a class="btn btn-primary" href="/index" style="background-color: #E9A34D!important;">Retourner à l'accueil</a>
                        </div>
                        {{ else }}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                Une erreur s'est produite, veuillez réessayer.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {{ end }}
                    {{ end }}
                </form>
        </section>
    </section>
    <section class="text-center bg-light testimonials" style="height: 189px;padding: 41px 0px;padding-bottom: 40px;">
        <section class="text-center bg-light features-icons" style="padding: 0px 0px;margin: 0px;">
            <h1></h1>
            <p></p>
        </section>
        <footer class="bg-light footer" style="background-color: #55692D!important;color: var(--light);filter: saturate(75%);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left my-auto h-100" style="transform: scale(1.09);">
                        <ul class="list-inline mb-2" style="/*color: b;*/">
                            <li class="list-inline-item"></li>
                            <li class="list-inline-item"></li>
                            <li class="list-inline-item"><a href="#" style="color: #E9A34D;">Contactez nous !</a></li>
                            <li class="list-inline-item"><span>⋅</span></li>
                            <li class="list-inline-item"><a href="/legal" style="color: #E9A34D;">Mentions légales</a></li>
                            <li class="list-inline-item"></li>
                            <li class="list-inline-item" style="width: 182.6719px;height: 0;"></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 text-center text-lg-right my-auto h-100">
                        <ul class="list-inline mb-0" style="transform: scale(1.09);">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin fa-2x fa-fw" style="color: #E9A34D;"></i><i class="fa fa-facebook fa-2x fa-fw" style="color: #E9A34D;"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw" style="color: #E9A34D;"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw" style="color: #E9A34D;"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="text-muted small mb-4 mb-lg-0" style="color: #fff!important;">© FEEDY 2021. All Rights Reserved.</p>
        </footer>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>